extends layout

block content
  script(src="/javascripts/index.js")
  .row
    .col-xs-12
      h1= title
      p #{subtitle}
  .row
    .col-xs-12
      form.max-form(method="POST", action="/calculate")
        label(for="bench") bench
        input(name="bench")
        label(for="squat") squat
        input(name="squat")
        label(for="overhead") overhead press
        input(name="overhead")
        label(for="deadlift") deadlift
        input(name="deadlift")
    .col-xs-12
      button#rm__submit-btn.btn.btn-primary.submit-btn(type="button") Calculate
      hr
  .row
    .col-xs-12.results-col
